::ng-deep.mat-dialog-container {
    padding: 0px !important;
    overflow: none;
    width: 100rem;
    max-width: 50rem;
    max-height: 60rem;
}

textarea {
    font-size: 1rem;
}
h2 {
    background-color: #33363f;
    color: white;
}
