<div style="width: 50% ; font-size: 1rem; max-width: 30rem; text-align: center; background-color: aqua; " class="d-flex ">
   <div class="d-flex justify-content-center text-center">
    <mat-icon style="font-size:2rem;">{{ msg.icon }}</mat-icon>
    <p style="display: flex; justify-content: center; align-items: center; font-size: 1rem; margin-left: 2rem;">
        {{ msg.text }}
    </p>
    <!-- // https://www.itsolutionstuff.com/post/how-to-use-toaster-notification-in-angular-8example.html -->
   </div>
    <!-- class="d-flex flex-row justify-content-center aling-items-center" -->
</div>